.tippy-tooltip.ambient-theme {
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  opacity: .8;
  padding: 2px 6px;
}

.tippy-tooltip.ambient-theme[data-placement^=top]>.tippy-arrow {
  border-width: 8px 8px 0;
  border-top-color: black;
}

.tippy-tooltip.ambient-theme[data-placement^=bottom]>.tippy-arrow {
  border-width: 0 8px 8px;
  border-bottom-color: black;
}

.tippy-tooltip.ambient-theme[data-placement^=left]>.tippy-arrow {
  border-width: 8px 0 8px 8px;
  border-left-color: black;
}

.tippy-tooltip.ambient-theme[data-placement^=right]>.tippy-arrow {
  border-width: 8px 8px 8px 0;
  border-right-color: black;
}

.tippy-tooltip.ambient-theme>.tippy-content {
  padding: 0px 0px;
}

.tippy-tooltip.ambient-theme>.tippy-backdrop {
  background-color: black;
}

.tippy-tooltip.ambient-theme>.tippy-svg-arrow {
  fill: black;
}
